div.movie {
  display: flex;
  flex-flow: column;
  padding: 5px 25px 10px 25px;
  max-width: 25%;
  text-align: center;
  justify-content: space-between;

  img {
    width: 100%;
  }

  @media screen and (min-width: 694px) and (max-width: 915px) {
    max-width: 33%;
  }
  @media screen and (min-width: 652px) and (max-width: 693px) {
    max-width: 50%;
  }
  @media screen and (max-width: 651px) {
    max-width: 100%;
    margin: auto;
  }
}