form.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;

  input[type="text"] {
    width: 40%;
    min-width: 170px;
  }

  button[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
  }
}